# DO NOT CHANGE the "init" and "install" sections below

# Download script file from GitHub
init:
  ps: |
        $ErrorActionPreference = "Stop"
        Invoke-WebRequest http://raw.github.com/krlmlr/r-appveyor/master/scripts/appveyor-tool.ps1 -OutFile "..\appveyor-tool.ps1"
        Import-Module '..\appveyor-tool.ps1'

install:
  - cinst: mongodb
  #- ps: Remove-Item -Recurse -Force "c:\\cygwin"
  - ps: (new-object net.webclient).DownloadFile('http://cygwin.org/setup-x86_64.exe', 'setup-x86_64.exe')
  - cmd: setup-x86_64.exe --no-admin --quiet-mode --upgrade-also --root c:/cygwin --site http://www.mirrorservice.org/sites/sourceware.org/pub/cygwin/ --packages perl,php-jsonc,php-simplexml
  - ps: Bootstrap

cache:
  - C:\RLibrary

services:
  - mongodb

environment:
  # env vars that may need to be set, at least temporarily, from time to time
  # see https://github.com/krlmlr/r-appveyor#readme for details
  # USE_RTOOLS: true
  # R_REMOTES_STANDALONE: true
  NOT_CRAN: true
  USE_RTOOLS: false
  #WARNINGS_ARE_ERRORS: 0
  #PKGTYPE: win.binary
  matrix:
   - R_VERSION: release
   #- R_VERSION: oldrel
   #- R_VERSION: devel

# Adapt as necessary starting from here

build_script:
  - travis-tool.sh install_deps

test_script:
  - travis-tool.sh run_tests

on_failure:
  - 7z a failure.zip *.Rcheck\*
  - appveyor PushArtifact failure.zip

artifacts:
  - path: '*.Rcheck\**\*.log'
    name: Logs

  - path: '*.Rcheck\**\*.out'
    name: Logs

  - path: '*.Rcheck\**\*.fail'
    name: Logs

  - path: '*.Rcheck\**\*.Rout'
    name: Logs

  - path: '\*_*.tar.gz'
    name: Bits

  - path: '\*_*.zip'
    name: Bits
